<p>content-component works!</p>
<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let learnSegment of LearningSegments">
      <mat-card class="mat-elevation-z4" >
        <mat-card-header>
          <mat-card-title>{{learnSegment.segmentTitle}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../assets/images/CSharp_Icon.png">
        <mat-card-content>
          <p>
            This is a C# Learning Segment
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <!-- <mat-list>
    <mat-list-item *ngFor="let learnSegment of LearningSegments"> {{learnSegment.segmentTitle}} </mat-list-item>
    <mat-list-item> Salt </mat-list-item>
    <mat-list-item> Paprika </mat-list-item>
   </mat-list> -->

  </div>
